html, body {
  height: auto;
  margin: 0;
  padding: 0;
  width: 100vw;
}

body {
  font-family: "Arial Rounded MT Bold", Helvetica, Arial, sans-serif;
  max-width: 1366px;
  overflow: hidden;
  position: relative;
}

ul, input {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  cursor: pointer;
}

a {
  color: #000;
  outline: none;
  text-decoration: none;
}

h3 {
  margin: 0;
}

.wrapper {
  height: 100%;
  max-width: 1366px;
  width: 100%;
}

/* Header */
header {
  border-bottom: 1px solid #f0f0f0;
  height: 92px;
  padding: 0 40px;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap row;
          flex-flow: nowrap row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

header .container #links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap row;
          flex-flow: nowrap row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 52px;
  width: 282px;
}

header .container #links a {
  display: block;
  height: 100%;
  opacity: 0.6;
  -webkit-transition: .4s;
  transition: .4s;
}

header .container #links a b {
  color: #333;
  font-size: 16px;
  line-height: 20px;
}

header .container #links a.active {
  opacity: 1;
}

header .container .menu {
  display: none;
}

/* Main Block */
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  padding-bottom: 64px;
}

main .section-main-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap row;
          flex-flow: nowrap row;
}

main .section-main-top .main-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 630px;
          flex: 1 0 630px;
  padding-left: 40px;
  position: relative;
}

main .section-main-top .main-block .title {
  color: #333;
  font-size: 18px;
  line-height: 20px;
}

main .section-main-top .main-block .main-div {
  background: url("../src/imgs/bg@2x.png") 0 0 no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap row;
          flex-flow: nowrap row;
  height: 331px;
  margin-top: 20px;
}

main .section-main-top .main-block .main-div .main-label {
  padding: 20px 0 0 20px;
}

main .section-main-top .main-block .main-div .home-temperature {
  display: inline-block;
  width: 80px;
}

main .section-main-top .main-block .main-div .home-temperature p {
  color: #858585;
}

main .section-main-top .main-block .main-div .home-temperature h1 {
  font-size: 36px;
}

main .section-main-top .main-block .main-div .weather {
  display: inline-block;
  position: relative;
  width: 80px;
}

main .section-main-top .main-block .main-div .weather p {
  color: #858585;
}

main .section-main-top .main-block .main-div .weather h1 {
  font-size: 36px;
}

main .section-main-top .main-block .main-div .weather img {
  position: absolute;
  right: -15px;
  top: 41px;
}

main .section-main-top .main-block .main-div h1 {
  font-size: 27px;
  line-height: 4px;
}

main .section-main-top .main-block .main-div p {
  font-size: 14px;
  line-height: 16px;
}

main .section-main-top .main-block .blocks-scroll {
  height: 331px;
  position: absolute;
  right: 20px;
  width: 200px;
}

main .section-main-top .main-block .blocks-scroll .parent-scroller {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

main .section-main-top .main-block .blocks-scroll .parent-scroller .child-scroller {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 100%;
  overflow-y: scroll;
  padding-right: 20px;
  width: 100%;
}

main .section-main-top .main-block .blocks-scroll .parent-scroller .child-scroller .scroll-block-main-label {
  background-color: #f7f7f7;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap column;
          flex-flow: nowrap column;
  height: 90px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px 0 15px 0;
  padding: 15px;
  width: 170px;
}

main .section-main-top .main-block .blocks-scroll .parent-scroller .child-scroller .scroll-block-main-label:first-child {
  margin: 20px 0 15px 0;
}

main .section-main-top .main-block .blocks-scroll .parent-scroller .child-scroller .scroll-block-main-label:last-child {
  margin: 15px 0 20px 0;
}

main .section-main-top .main-block .blocks-scroll .parent-scroller .child-scroller .scroll-block-main-label img {
  height: 24px;
  width: 24px;
}

main .section-main-top .main-block .blocks-scroll .parent-scroller .child-scroller .scroll-block-main-label b {
  color: #333;
  font-size: 14px;
  letter-spacing: 0;
  text-align: left;
}

main .section-main-top .main-block .blocks-scroll .parent-scroller .child-scroller .scroll-block-main-label small {
  color: #858585;
  font-size: 12px;
  letter-spacing: 0;
  text-align: left;
}

main .section-main-top .main-block .blocks-scroll .parent-scroller .child-scroller .scroll-block-main-label:nth-child(3) {
  position: relative;
}

main .section-main-top .main-block .blocks-scroll .parent-scroller .child-scroller .scroll-block-main-label:nth-child(3) img {
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

main .section-main-top .main-block .blocks-scroll .parent-scroller .child-scroller .scroll-block-main-label:nth-child(3):before {
  content: url("../src/Icons/Arrow_Double/_M.svg");
  opacity: 1;
  position: absolute;
  text-align: center;
  -webkit-transition: .5s;
  transition: .5s;
  width: 170px;
}

main .section-main-top .main-block .blocks-scroll .parent-scroller .child-scroller .scroll-block-main-label:nth-child(3).active:before {
  opacity: 0;
}

main .section-main-top .scenarios {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 630px;
          flex: 1 0 630px;
  padding: 0 40px 0 26px;
}

main .section-main-top .scenarios .title {
  line-height: 20px;
}

main .section-main-top .scenarios .title h3 {
  color: #333;
  font-size: 18px;
}

main .section-main-top .scenarios .with-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .section-main-top .scenarios .with-btns .scenarios-btns {
  line-height: 18px;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

main .section-main-top .scenarios .with-btns .scenarios-btns img {
  cursor: pointer;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
  vertical-align: bottom;
}

main .section-main-top .scenarios .with-btns .scenarios-btns img:first-child {
  padding-right: 15px;
}

main .section-main-top .scenarios .with-btns .scenarios-btns img:last-child {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

main .section-main-top .scenarios .with-btns .scenarios-btns img.disabled {
  opacity: 0.3;
}

main .section-main-top .scenarios .with-btns .scenarios-btns img.disabled .next, main .section-main-top .scenarios .with-btns .scenarios-btns img.disabled .prev {
  cursor: pointer;
  height: 16px;
}

main .section-main-top .scenarios .scenarios-blocks {
  margin-top: 20px;
}

main .section-main-top .scenarios .scenarios-blocks .scenarios-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap row;
          flex-flow: nowrap row;
  height: 330px;
  overflow: hidden;
  width: 630px;
}

main .section-main-top .scenarios .scenarios-blocks .scenarios-ul .scenarios-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 645px;
          flex: 1 0 645px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  margin: -7.5px;
  padding-right: 40px;
  -webkit-transition: .6s;
  transition: .6s;
}

main .section-main-top .scenarios .scenarios-blocks .scenarios-ul .scenarios-block {
  background-color: #f7f7f7;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap column;
          flex-flow: nowrap column;
  height: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 7.5px;
  padding: 15px;
  -webkit-transition: .2s;
  transition: .2s;
  width: 170px;
}

main .section-main-top .scenarios .scenarios-blocks .scenarios-ul .scenarios-block:hover {
  background: #fff;
  -webkit-box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
          box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
}

main .section-main-top .scenarios .scenarios-blocks .scenarios-ul .scenarios-block img {
  height: 24px;
  width: 24px;
}

main .section-main-top .scenarios .scenarios-blocks .scenarios-ul .scenarios-block b {
  color: #333;
  font-size: 14px;
  letter-spacing: 0;
  text-align: left;
}

main .section-main-top .scenarios .scenarios-blocks .scenarios-ul .scenarios-block small {
  color: #858585;
  font-size: 12px;
  letter-spacing: 0;
  text-align: left;
}

main .section-devices {
  height: 170px;
  margin: 30px 0 3px 0;
  padding: 0 40px;
}

main .section-devices .filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap row;
          flex-flow: nowrap row;
  height: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .section-devices .filters .titleNfilters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .section-devices .filters .title {
  line-height: 30px;
}

main .section-devices .filters .nav-filters {
  margin-left: 8px;
}

main .section-devices .filters #filters-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap row;
          flex-flow: nowrap row;
}

main .section-devices .filters #filters-ul .filter-li {
  background: #f7f7f7;
  border-radius: 20px;
  font-size: 13px;
  margin: 0 5px;
  padding: 7px 11px 8px 15px;
  -webkit-transition: .2s;
  transition: .2s;
}

main .section-devices .filters #filters-ul .filter-li.active {
  background: #ffd93e;
}

main .section-devices .devices-btns {
  line-height: 30px;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

main .section-devices .devices-btns img {
  cursor: pointer;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
  vertical-align: bottom;
}

main .section-devices .devices-btns img:first-child {
  padding-right: 15px;
}

main .section-devices .devices-btns img:last-child {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

main .section-devices .devices-btns img.disabled {
  opacity: 0.3;
}

main .section-devices .devices {
  margin-left: -40px;
  margin-top: 20px;
  overflow: hidden;
  width: calc(100% + 80px);
}

main .section-devices .devices .devices-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap row;
          flex-flow: nowrap row;
  height: 120px;
}

main .section-devices .devices .devices-ul .device {
  background: #f7f7f7;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 170px;
          flex: 0 0 170px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap column;
          flex-flow: nowrap column;
  height: 90px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 15px;
  padding: 15px;
  -webkit-transition: .2s;
  transition: .2s;
}

main .section-devices .devices .devices-ul .device:first-child {
  -webkit-transition: .5s;
  transition: .5s;
}

main .section-devices .devices .devices-ul .device:hover {
  background: #fff;
  -webkit-box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
          box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
}

main .section-devices .devices .devices-ul .device img {
  height: 24px;
  width: 24px;
}

main .section-devices .devices .devices-ul .device b {
  color: #333;
  font-size: 14px;
  letter-spacing: 0;
  text-align: left;
}

main .section-devices .devices .devices-ul .device small {
  color: #858585;
  font-size: 12px;
  letter-spacing: 0;
  text-align: left;
}

main .section-devices .devices .devices-ul:before {
  content: "";
  margin-left: 40px;
}

main .section-devices .devices .devices-ul .filter-hide {
  display: none;
}

main .section-devices .devices .devices-ul .slider, main .section-devices .devices .devices-ul .slider-range-floor {
  display: none;
  width: 100%;
}

/* Footer */
footer {
  bottom: 0;
  height: 61px;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 998;
}

footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap row;
          flex-flow: nowrap row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  height: 100%;
  width: 100%;
}

footer .footer .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap row;
          flex-flow: nowrap row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding-left: 30px;
  width: 100%;
}

footer .footer .footer-links li {
  color: #858585;
  line-height: 15px;
  list-style: none;
  padding: 0 10px;
}

footer .footer .footer-links a {
  color: #858585;
  outline: none;
  text-decoration: none;
}

footer .footer .footer-links a small {
  color: #858585;
  font-size: 12px;
  letter-spacing: 0.01px;
  text-align: left;
}

footer .footer .footer-links li:last-child {
  cursor: default;
  margin-left: auto;
}

.fixed-bg {
  background: transparent;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
  visibility: hidden;
  width: 100vw;
  z-index: 1000;
}

.fixed-bg.active {
  background: rgba(51, 51, 51, 0.5);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  visibility: visible;
}

.wrapper.blur, footer.blur, header.blur {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.modal-space {
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
}

.modal-space .modal-block {
  background: #f7f7f7;
  border-radius: 20px;
  height: 120px;
  opacity: 0;
  position: absolute;
  -webkit-transition: .4s;
  transition: .4s;
  width: 200px;
  z-index: 1000;
}

.modal-space .modal-block .modal-html {
  display: none;
  height: 100%;
  opacity: 0;
  position: relative;
  -webkit-transition: .2s;
  transition: .2s;
}

.modal-space .modal-block .modal-html img {
  position: absolute;
  right: 30px;
  top: 30px;
}

.modal-space .modal-block .modal-html .text {
  padding: 25px 25px 20px 25px;
}

.modal-space .modal-block .modal-html .text b {
  font-size: 27px;
}

.modal-space .modal-block .modal-html .text small {
  font-size: 14px;
}

.modal-space .modal-block .modal-html .slider {
  display: block;
}

.modal-space .modal-block .modal-html .slider .slider-filters-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap row;
          flex-flow: nowrap row;
  padding-left: 20px;
}

.modal-space .modal-block .modal-html .slider .slider-filters-ul .slider-filters-item {
  background: #f7f7f7;
  border-radius: 20px;
  font-size: 13px;
  margin: 0 5px;
  padding: 7px 11px 8px 15px;
  -webkit-transition: .2s;
  transition: .2s;
}

.modal-space .modal-block .modal-html .slider .slider-filters-ul .slider-filters-item.active {
  background: #ffd93e;
}

.modal-space .modal-block .modal-html .slider form {
  position: relative;
}

.modal-space .modal-block .modal-html .slider form .range-temperature, .modal-space .modal-block .modal-html .slider form .range-light {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(2%, #068fff), color-stop(51%, #ffd800), to(#f76b1c));
  background-image: linear-gradient(90deg, #068fff 2%, #ffd800 51%, #f76b1c 100%);
  border-radius: 30px;
  height: 60px;
  margin: 25px;
  outline: none;
  width: 580px;
}

.modal-space .modal-block .modal-html .slider form .range-light {
  background-image: linear-gradient(85deg, #ffe682 2%, #ff9e00 98%);
}

.modal-space .modal-block .modal-html .slider form .range-temperature, .modal-space .modal-block .modal-html .slider form .range-light {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.modal-space .modal-block .modal-html .slider form .range-temperature::-webkit-slider-thumb, .modal-space .modal-block .modal-html .slider form .range-light::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: 3px solid rgba(51, 51, 51, 0.1);
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 4px #fff;
          box-shadow: 0 0 0 4px #fff;
  cursor: pointer;
  height: 60px;
  width: 60px;
}

.modal-space .modal-block .modal-html .slider form .range-temperature::-moz-range-thumb, .modal-space .modal-block .modal-html .slider form .range-light::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 3px solid rgba(51, 51, 51, 0.1);
  box-shadow: 0 0 0 4px #fff;
  border-radius: 50%;
  cursor: pointer;
  height: 60px;
  width: 60px;
}

.modal-space .modal-block .modal-html .slider form .range-temperature::-moz-range-track, .modal-space .modal-block .modal-html .slider form .range-light::-moz-range-track {
  opacity: 0;
}

.modal-space .modal-block .modal-html .slider form .output-range {
  color: #333;
  font-size: 36px;
  letter-spacing: 0;
  position: absolute;
  right: 60px;
  text-align: left;
  top: -100px;
}

.modal-space .modal-block .modal-html .slider form .output-min {
  color: #fff;
  font-size: 18px;
  left: 45px;
  letter-spacing: 0;
  line-height: 0;
  pointer-events: none;
  position: absolute;
  text-align: left;
  top: 36px;
}

.modal-space .modal-block .modal-html .slider form .output-min.output-light {
  background-image: url("../src/imgs/icon_sun2.svg");
  background-size: 36px 36px;
  height: 36px;
  width: 36px;
}

.modal-space .modal-block .modal-html .slider form .output-max {
  color: #fff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 0;
  pointer-events: none;
  position: absolute;
  right: 45px;
  text-align: left;
  top: 36px;
}

.modal-space .modal-block .modal-html .slider form .output-max.output-light {
  background-image: url("../src/imgs/icon_sun.svg");
  background-size: 36px 36px;
  height: 36px;
  width: 36px;
}

.modal-space .modal-block .modal-btns {
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 1;
  position: absolute;
  -webkit-transition: .2s;
  transition: .2s;
  width: 100%;
}

.modal-space .modal-block .modal-btns .close, .modal-space .modal-block .modal-btns .apply {
  background: #fff;
  border-radius: 20px;
  cursor: pointer;
  height: 60px;
  line-height: 60px;
  margin-top: 21px;
  max-width: 307px;
  text-align: center;
  width: 49%;
}

.modal-space .modal-block .modal-btns .apply {
  background: #ffd93e;
}

.modal-space .modal-block.active {
  background: #fff;
  height: 238px;
  opacity: 1;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  width: 630px;
}

.modal-space .modal-block.active .modal-html {
  display: block;
  opacity: 1;
  -webkit-transition: .1s;
  transition: .1s;
  -webkit-transition-delay: .15s;
          transition-delay: .15s;
}

.modal-space .modal-block.active .modal-btns {
  bottom: -81px;
}

.modal-space .modal-block.active.range-floor {
  height: 343px;
  margin-top: -90px;
}

.form-range-floor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 220px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.svg-floor {
  position: absolute;
  top: 92px;
  left: 205px;
}

.input-range-div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  position: relative;
  width: 200px;
}

.input-range-div.value20:before {
  background: url("../src/Icons/icon_arrow.svg") center top no-repeat;
  content: "";
  height: 160px;
  left: 22px;
  pointer-events: none;
  position: absolute;
  top: 30px;
  width: 160px;
  z-index: 1;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.input-range-div.value21:before {
  background: url("../src/Icons/icon_arrow.svg") center top no-repeat;
  content: "";
  height: 160px;
  left: 22px;
  pointer-events: none;
  position: absolute;
  top: 30px;
  width: 160px;
  z-index: 1;
  -webkit-transform: rotate(-108deg);
          transform: rotate(-108deg);
}

.input-range-div.value22:before {
  background: url("../src/Icons/icon_arrow.svg") center top no-repeat;
  content: "";
  height: 160px;
  left: 22px;
  pointer-events: none;
  position: absolute;
  top: 30px;
  width: 160px;
  z-index: 1;
  -webkit-transform: rotate(-81deg);
          transform: rotate(-81deg);
}

.input-range-div.value23:before {
  background: url("../src/Icons/icon_arrow.svg") center top no-repeat;
  content: "";
  height: 160px;
  left: 22px;
  pointer-events: none;
  position: absolute;
  top: 30px;
  width: 160px;
  z-index: 1;
  -webkit-transform: rotate(-54deg);
          transform: rotate(-54deg);
}

.input-range-div.value24:before {
  background: url("../src/Icons/icon_arrow.svg") center top no-repeat;
  content: "";
  height: 160px;
  left: 22px;
  pointer-events: none;
  position: absolute;
  top: 30px;
  width: 160px;
  z-index: 1;
  -webkit-transform: rotate(-27deg);
          transform: rotate(-27deg);
}

.input-range-div.value25:before {
  background: url("../src/Icons/icon_arrow.svg") center top no-repeat;
  content: "";
  height: 160px;
  left: 22px;
  pointer-events: none;
  position: absolute;
  top: 30px;
  width: 160px;
  z-index: 1;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.input-range-div.value26:before {
  background: url("../src/Icons/icon_arrow.svg") center top no-repeat;
  content: "";
  height: 160px;
  left: 22px;
  pointer-events: none;
  position: absolute;
  top: 30px;
  width: 160px;
  z-index: 1;
  -webkit-transform: rotate(27deg);
          transform: rotate(27deg);
}

.input-range-div.value27:before {
  background: url("../src/Icons/icon_arrow.svg") center top no-repeat;
  content: "";
  height: 160px;
  left: 22px;
  pointer-events: none;
  position: absolute;
  top: 30px;
  width: 160px;
  z-index: 1;
  -webkit-transform: rotate(54deg);
          transform: rotate(54deg);
}

.input-range-div.value28:before {
  background: url("../src/Icons/icon_arrow.svg") center top no-repeat;
  content: "";
  height: 160px;
  left: 22px;
  pointer-events: none;
  position: absolute;
  top: 30px;
  width: 160px;
  z-index: 1;
  -webkit-transform: rotate(81deg);
          transform: rotate(81deg);
}

.input-range-div.value29:before {
  background: url("../src/Icons/icon_arrow.svg") center top no-repeat;
  content: "";
  height: 160px;
  left: 22px;
  pointer-events: none;
  position: absolute;
  top: 30px;
  width: 160px;
  z-index: 1;
  -webkit-transform: rotate(108deg);
          transform: rotate(108deg);
}

.input-range-div.value30:before {
  background: url("../src/Icons/icon_arrow.svg") center top no-repeat;
  content: "";
  height: 160px;
  left: 22px;
  pointer-events: none;
  position: absolute;
  top: 30px;
  width: 160px;
  z-index: 1;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.input-range-floor {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: url("../src/imgs/background.svg") no-repeat;
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
  height: 178px;
  outline: none;
  width: 178px;
}

.input-range-floor::-webkit-slider-thumb {
  opacity: 0;
}

.input-range-floor::-moz-range-thumb, .input-range-floor::-moz-range-track {
  opacity: 0;
}

.output-floor {
  font-size: 66px;
  color: #333333;
  letter-spacing: 0;
  text-align: left;
  position: absolute;
  pointer-events: none;
}

@media (max-width: 375px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: nowrap column;
            flex-flow: nowrap column;
    overflow-x: hidden;
    overflow-y: auto;
  }
  header {
    background: #fff;
    border: 0;
    height: 64px;
    padding: 0 20px;
    position: fixed;
    width: calc(100% - 40px);
    z-index: 1001;
  }
  header .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .container img {
    z-index: 2;
  }
  header .container .bg {
    background: #fff;
    display: block;
    height: 64px;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1;
  }
  header .container .nav-links {
    background-color: #fff;
    border-radius: 0 0 20px 20px;
    -webkit-box-shadow: 0 4px 6px 0 rgba(197, 186, 186, 0.5);
            box-shadow: 0 4px 6px 0 rgba(197, 186, 186, 0.5);
    position: absolute;
    right: 0;
    top: 60px;
    -webkit-transform: translate3d(0, -126px, 0);
            transform: translate3d(0, -126px, 0);
    -webkit-transition: .5s;
    transition: .5s;
    width: 100%;
    z-index: -1;
  }
  header .container .nav-links.active-menu {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  header .container .nav-links .links {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: nowrap column;
            flex-flow: nowrap column;
    padding: 0;
    width: 100%;
  }
  header .container .nav-links .links li {
    padding: 10px 0;
  }
  header .container .menu {
    display: block;
  }
  main {
    margin: 0;
    padding: 64px 0 0 0;
  }
  main .section-main-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: nowrap column;
            flex-flow: nowrap column;
  }
  main .section-main-top .main-block {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 282px;
    padding: 0 20px;
  }
  main .section-main-top .main-block .title {
    display: none;
  }
  main .section-main-top .main-block .main-div {
    background: url("../src/imgs/bg@1x.png") 39% 0% no-repeat;
    border-radius: 20px;
    height: 100%;
    margin: 0;
  }
  main .section-main-top .main-block .main-div .main-label h1 {
    color: #333;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
  }
  main .section-main-top .main-block .main-div .main-label p {
    color: #333;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 15px;
    margin-top: 5px;
  }
  main .section-main-top .main-block .main-div .main-label .home-temperature {
    height: 28px;
    width: 60px;
  }
  main .section-main-top .main-block .main-div .main-label .home-temperature p {
    color: #858585;
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 0;
  }
  main .section-main-top .main-block .main-div .main-label .home-temperature h1 {
    color: #333;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 28px;
    text-align: left;
  }
  main .section-main-top .main-block .main-div .main-label .weather {
    height: 28px;
    width: 60px;
  }
  main .section-main-top .main-block .main-div .main-label .weather p {
    color: #858585;
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 0;
  }
  main .section-main-top .main-block .main-div .main-label .weather h1 {
    color: #333;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 28px;
    text-align: left;
  }
  main .section-main-top .main-block .main-div .main-label .weather img {
    right: -5px;
    top: 23px;
    width: 20px;
  }
  main .section-main-top .main-block .blocks-scroll {
    bottom: 20px;
    height: 120px;
    width: 335px;
  }
  main .section-main-top .main-block .blocks-scroll .parent-scroller .child-scroller {
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0;
  }
  main .section-main-top .main-block .blocks-scroll .parent-scroller .child-scroller .scroller-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: nowrap row;
            flex-flow: nowrap row;
  }
  main .section-main-top .main-block .blocks-scroll .parent-scroller .child-scroller .scroller-ul .scroll-block-main-label {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 170px;
            flex: 1 0 170px;
    margin: 0 20px 0 0;
  }
  main .section-main-top .main-block .blocks-scroll .parent-scroller .child-scroller .scroller-ul .scroll-block-main-label:first-child {
    margin: 0 20px 0 20px;
  }
  main .section-main-top .main-block .blocks-scroll .parent-scroller .child-scroller .scroller-ul .scroll-block-main-label:last-child {
    margin: 0 20px 0 0;
  }
  main .section-main-top .main-block .blocks-scroll .parent-scroller .child-scroller .scroller-ul:after {
    content: "1";
    display: block;
    opacity: 0;
    width: 20px;
  }
  main .section-main-top .scenarios {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-top: 30px;
    padding: 0 20px;
  }
  main .section-main-top .scenarios .scenarios-btns {
    display: none;
  }
  main .section-main-top .scenarios .scenarios-nav {
    margin: 0 -20px;
    overflow: hidden;
  }
  main .section-main-top .scenarios .scenarios-nav .scenarios-ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: nowrap row;
            flex-flow: nowrap row;
    height: 110px;
    overflow: scroll;
    width: 100%;
  }
  main .section-main-top .scenarios .scenarios-nav .scenarios-ul .scenarios-div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: nowrap row;
            flex-flow: nowrap row;
    margin: 0;
    padding: 0;
  }
  main .section-main-top .scenarios .scenarios-nav .scenarios-ul .scenarios-div .scenarios-block {
    margin: 0 20px 0 0;
  }
  main .section-main-top .scenarios .scenarios-nav .scenarios-ul:before {
    content: "";
    margin-right: 20px;
  }
  main .section-devices {
    padding: 0;
  }
  main .section-devices .filters .devices-btns {
    display: none;
  }
  main .section-devices .filters .titleNfilters .title {
    color: #333;
    padding-left: 20px;
  }
  main .section-devices .filters .titleNfilters .title h3 {
    font-size: 18px;
  }
  main .section-devices .filters .titleNfilters #filters-ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: nowrap column;
            flex-flow: nowrap column;
    height: 30px;
    overflow: hidden;
    padding-left: 20px;
    position: absolute;
  }
  main .section-devices .filters .titleNfilters #filters-ul li {
    background: #fff;
    border-radius: 0;
  }
  main .section-devices .filters .titleNfilters #filters-ul li.active {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    background: #ffd93e;
    border-radius: 20px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  main .section-devices .filters .titleNfilters #filters-ul li.active:after {
    background: url("../src/Icons/Arrow_Right/M_Copy@1x.svg") 0 0 no-repeat;
    background-size: 10px 10px;
    content: "";
    display: inline-block;
    height: 10px;
    margin-left: 5px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transition: .5s;
    transition: .5s;
    width: 10px;
  }
  main .section-devices .filters .titleNfilters #filters-ul.active {
    overflow: visible;
  }
  main .section-devices .filters .titleNfilters #filters-ul.active li.active:after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  main .section-devices .devices {
    margin-left: 0;
    overflow: hidden;
    width: 100%;
  }
  main .section-devices .devices .devices-ul {
    height: 125px;
    overflow: scroll;
  }
  main .section-devices .devices .devices-ul:before {
    margin: 0 20px 0 0;
  }
  main .section-devices .devices .devices-ul:after {
    content: "1";
    display: block;
    opacity: 0;
    width: 20px;
  }
  .modal-space .modal-block .form-range-floor {
    margin-top: 80px;
  }
  .modal-space .modal-block .form-range-floor .svg-floor {
    top: 153px;
    left: 57px;
  }
  .modal-space .modal-block .modal-html img {
    display: none;
  }
  .modal-space .modal-block .modal-html .text {
    padding: 20px 20px 15px 20px;
  }
  .modal-space .modal-block .modal-html .text b {
    color: #333;
    font-size: 18px;
  }
  .modal-space .modal-block .modal-html .text small {
    color: #333;
    font-size: 12px;
  }
  .modal-space .modal-block .modal-html .slider .div-slider-filters {
    overflow: hidden;
  }
  .modal-space .modal-block .modal-html .slider .slider-filters-ul {
    padding-left: 15px;
    width: 100vw;
  }
  .modal-space .modal-block .modal-html .slider .slider-filters-item.active {
    background: #ffd93e;
  }
  .modal-space .modal-block .modal-html .slider .last {
    display: none;
  }
  .modal-space .modal-block .modal-html .slider form .output-range {
    display: none;
  }
  .modal-space .modal-block .modal-html .slider form .output-min {
    left: 152px;
    top: 315px;
  }
  .modal-space .modal-block .modal-html .slider form .output-min.output-light {
    left: 150px;
  }
  .modal-space .modal-block .modal-html .slider form .output-max {
    bottom: 0;
    left: 152px;
    top: 36px;
  }
  .modal-space .modal-block .modal-html .slider form .output-max.output-light {
    left: 150px;
  }
  .modal-space .modal-block .modal-html .slider form .range-temperature, .modal-space .modal-block .modal-html .slider form .range-light {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(2%, #068fff), color-stop(51%, #ffd800), to(#f76b1c));
    background-image: linear-gradient(90deg, #068fff 2%, #ffd800 51%, #f76b1c 100%);
    -webkit-transform: rotate(-90deg) translate3d(-140px, -25px, 0);
            transform: rotate(-90deg) translate3d(-140px, -25px, 0);
    width: 336px;
  }
  .modal-space .modal-block .modal-html .slider form .range-light {
    background-image: linear-gradient(85deg, #ffe682 2%, #ff9e00 98%);
  }
  .modal-space .modal-block .modal-html .slider form .range-floor {
    margin-top: 0;
  }
  .modal-space .modal-block .modal-btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap column;
            flex-flow: wrap column;
  }
  .modal-space .modal-block .modal-btns .close, .modal-space .modal-block .modal-btns .apply {
    margin-top: 15px;
    max-width: 334px;
    width: 100%;
  }
  .modal-space .modal-block.active {
    height: 492px;
    width: 334px;
  }
  .modal-space .modal-block.active.range-floor {
    height: 492px;
    margin-top: 0;
  }
  .modal-space .modal-block.active .modal-btns {
    bottom: -150px;
  }
  .fixed-bg {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  footer {
    position: static;
  }
  footer .footer {
    height: 80px;
  }
  footer .footer .footer-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap row;
            flex-flow: wrap row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 20px;
  }
  footer .footer .footer-links li {
    line-height: 20px;
  }
  footer .footer .footer-links li:last-child {
    line-height: 30px;
    margin: 0 auto;
  }
}
